/* Default */
/* Default */
body {
  background-color: white;
  color: black;
  font-family: Helvetica,Helvetica,Arial,sans-serif;

  margin: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 0px 50px 0px 50px;
}

.navbar__logo {
  font-weight: bold;
  font-size: 40px;
}

ul {
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.btn {
  font-size: 18px;
  background: none;
  color: black;
  border-radius: 15px;
  padding: 10px 20px;
  align-self: stretch;
}

.btn:hover {
  background: blue;
}

a {
  text-decoration: none;
  color: black;
}

section.main {
  margin: none;
}

img {
  width: 100%;
}

.container__top {
  display: flex;
  width: 100%;
  align-items: center;

  height: 50em;
}

.container__top__text {
  font-size: 3em;

  position: absolute;
  left: 50px;
  z-index: 1;
}

.container__top__img {
  width: 40rem;

  position: absolute;
  margin: 0px auto;
  right: 50px;
  z-index: -1;
}

.container__mid__img {
  width: 100%;
}

.section__cards{
    background-color: pink;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 0px 0px 50px 0px;
    gap: 1rem;
}

.section__cards__header{

    align-self: center;
    padding-top: 25px;

}

.container__cards{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:flex-start;
    flex-wrap: wrap;
    gap: 2em;

    width: auto;
    margin: auto;
    height: auto;

        @media screen and (max-width:1685px){
            width: 100%;
        }

        @media screen and (max-width:1668px){
            width: 70%;
        }
}

.card{
    background-color: white;

    display: flex;
    flex-direction: column;
    border-radius: 2.5%;
    padding: 1.5em;
    flex-basis: 15%;
    min-width: 20em;
    min-height: 20em;

    gap: 8em;

    align-content: flex-start;
    justify-content: center;
        @media screen and (max-width:900px){
            flex-basis: 30%;
        }

        @media screen and (max-width:900px){
           flex-basis: 15%;
       }
}

.card__bottom{
    margin-top: auto;
}


/* Breakpoint */
@media screen and (max-width: 700px) {
  section.main {
  }
}
