html, .root {
  font-size: 16px;
  line-height: 27px;
}

body {
  background-color: #0B0B14;
  color: #F4F4F6;
  margin: 0;
  overflow-x: hidden;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}

h1, .h1 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}

h2, .h2 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}

h3, .h3 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}

p, .p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}

a {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #F4F4F6;
  position: relative;
  letter-spacing: 0.05em;
}

a:hover {
  text-decoration: none;
  color: #F4F4F6;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F4F4F6;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  border-radius: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding: 1em 2.5em;
}
.navbar .navbar__logo {
  width: 2%;
  min-width: 25px;
}
.navbar .navbar__logo img {
  width: 100%;
}
.navbar .navbar__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  gap: 2em;
}
.navbar .navbar__links button {
  background: #0B0B14;
  color: #F4F4F6;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid #F4F4F6;
  padding: 0.5em 1em;
  align-self: center;
}
.navbar .navbar__links button:hover {
  background: #F4F4F6;
  color: #0B0B14;
  transition-duration: 0.4s;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em;
  }
  .navbar a {
    font-size: 0.65em;
  }
  .navbar .navbar__links {
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }
  .navbar .navbar__links button {
    font-size: 0.65em;
  }
}

section.main {
  margin: none;
}
section.main .container__section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50em;
  width: 100%;
  margin: 0;
}
section.main .container__section1 h1 {
  color: #F4F4F6;
  width: 45%;
  margin-left: 3em;
}
section.main .container__section1 img {
  height: 60%;
  width: auto;
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  right: 10%;
  border-radius: 10px;
}
@media screen and (max-width: 725px) {
  section.main .container__section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
  }
  section.main .container__section1 h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 1em;
    width: 100%;
  }
  section.main .container__section1 img {
    width: 100%;
    position: static;
    margin-top: 2em;
    right: auto;
  }
}
section.main #myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
section.main .container__section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.main .container__section2 .container__section2__img {
  width: 100%;
  border-radius: 0px;
}
section.main .container__section2 .container__section2__potato {
  background: #0B0B14;
  color: #F4F4F6;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
  padding: 1em 5em 2.5em 5em;
  border-radius: 13px;
  border: 2px solid #F4F4F6;
  width: 60%;
  height: auto;
}
@media screen and (max-width: 725px) {
  section.main .container__section2 .container__section2__potato {
    padding: 0.5em 2.5em 3em 2.5em;
    transform: translateY(-20%);
    width: 65%;
  }
  section.main .container__section2 .container__section2__potato h1 {
    font: 1.5em;
  }
  section.main .container__section2 .container__section2__potato p {
    font-size: 1em;
    margin-bottom: 3em;
  }
}
@media screen and (max-width: 400px) {
  section.main .container__section2 .container__section2__potato {
    padding: 0.5em 2.5em 3em 2.5em;
    transform: translateY(-20%);
    width: 75%;
  }
  section.main .container__section2 .container__section2__potato h1 {
    font: 1.5em;
  }
  section.main .container__section2 .container__section2__potato p {
    font-size: 1em;
    margin-bottom: 3em;
  }
}
section.main .container__section2 .container__section2__potato .btn {
  background: #0B0B14;
  color: #F4F4F6;
  font-size: 1.5em;
  border-radius: 8px;
  padding: 0.5em 1em;
  align-self: center;
  border: 2px solid #F4F4F6;
}
section.main .container__section2 .container__section2__potato .btn:hover {
  background: #F4F4F6;
  color: #0B0B14;
  transition-duration: 0.4s;
}
section.main .container__section2 .container__section2-bottom {
  transform: translateY(-20%);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
section.main .container__section2 .container__section2-bottom .container__section2-bottom__text {
  width: 40%;
  color: #F4F4F6;
}
section.main .container__section2 .container__section2-bottom img {
  width: 50%;
}
@media screen and (max-width: 1220px) {
  section.main .container__section2 .container__section2-bottom {
    transform: translateY(-10%);
    display: flex;
    flex-direction: column;
  }
  section.main .container__section2 .container__section2-bottom img {
    width: 100%;
  }
  section.main .container__section2 .container__section2-bottom .container__section2-bottom__text {
    width: 80%;
  }
}
@media screen and (max-width: 725px) {
  section.main .container__section2 .container__section2-bottom {
    transform: translateY(-10%);
    display: flex;
    flex-direction: column;
  }
  section.main .container__section2 .container__section2-bottom h1 {
    font: 1.5em;
  }
  section.main .container__section2 .container__section2-bottom p {
    font-size: 1em;
    margin-bottom: 3em;
  }
  section.main .container__section2 .container__section2-bottom img {
    width: 100%;
  }
  section.main .container__section2 .container__section2-bottom .container__section2-bottom__text {
    width: 100%;
  }
}
section.main .section__cards {
  background-color: #F4F4F6;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  margin: 0;
  padding: 0px 0px 50px 0px;
  gap: 1rem;
}
section.main .section__cards .section__cards__header {
  align-self: center;
  padding-top: 25px;
  color: #0B0B14;
}
section.main .section__cards .container__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
  width: auto;
  margin: auto;
  height: auto;
}
section.main .section__cards .container__cards .card {
  color: #F4F4F6;
  background-color: #0B0B14;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1.5em;
  flex-basis: 15%;
  min-width: 20em;
  min-height: 20em;
  gap: 2em;
  align-content: flex-start;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  section.main .section__cards .container__cards .card {
    flex-basis: 30%;
  }
}
@media screen and (max-width: 900px) {
  section.main .section__cards .container__cards .card {
    flex-basis: 15%;
  }
}
section.main .section__cards .container__cards .card .card__para {
  margin-top: auto;
  color: #F4F4F6;
}
section.main .section__cards .container__cards .card .card__para .btn {
  width: 100%;
  background: #0B0B14;
  color: #F4F4F6;
  font-size: 1.5em;
  border-radius: 8px;
  padding: 0.5em 1em;
  align-self: center;
  border: 2px solid #F4F4F6;
}
section.main .section__cards .container__cards .card .card__para .btn:hover {
  background: #F4F4F6;
  color: #0B0B14;
  transition-duration: 0.4s;
}
section.main .container__section3 {
  display: flex;
  padding: 5em 5em 5em 5em;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 1230px) {
  section.main .container__section3 {
    padding: 2em;
    flex-direction: column;
  }
}
section.main .container__section3 .container__section3-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}
section.main .container__section3 .container__section3-left h2 {
  margin: 0;
  margin-bottom: 1em;
}
@media screen and (max-width: 1230px) {
  section.main .container__section3 .container__section3-left {
    width: auto;
  }
  section.main .container__section3 .container__section3-left h2 {
    margin-bottom: 0.5em;
  }
}
section.main .container__section3 .container__section3-right {
  align-self: center;
  width: 40%;
  height: auto;
}
section.main .container__section3 .container__section3-right h2 {
  margin: 0;
  margin-bottom: 1em;
}
section.main .container__section3 .container__section3-right img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1230px) {
  section.main .container__section3 .container__section3-right {
    width: 100%;
    height: auto;
    padding: 2em 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  section.main .container__section3 .container__section3-right h2 {
    font-size: 1.5em;
  }
  section.main .container__section3 .container__section3-right p {
    font-size: 1em;
  }
}

.container__footer {
  background-color: #0B0B14;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0em 3em 2em 3em;
}
.container__footer p {
  color: #F4F4F6;
}
.container__footer .container__footer-logo {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  align-content: flex-end;
  right: 0;
}
.container__footer .logo {
  width: 7%;
  min-width: 25px;
}
.container__footer .logo img {
  width: 100%;
}
.container__footer .container__footer__menu {
  list-style: none;
  padding: 0;
  text-align: center;
}
.container__footer .container__footer__menu li {
  margin: 0;
  display: inline-block;
  padding-right: 1em;
  font-size: 1em;
}
.container__footer .container__footer__menu li a {
  color: #F4F4F6;
}
@media screen and (max-width: 900px) {
  .container__footer .container__footer__menu a {
    line-height: 2em;
  }
}
@media screen and (max-width: 600px) {
  .container__footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__footer .container__footer__menu {
    text-align: center;
  }
  .container__footer .container__footer__menu li {
    padding: 0 5px 0 5px;
  }
  .container__footer .container__footer-logo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .container__footer .logo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.container__footer .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.container__footer .embed-container iframe, .container__footer .embed-container object, .container__footer .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
